# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ignore lock files
package.lock.json
yarn.lock
.vscode/settings.json
package-lock.json


src/fonts/lisan/EthiopicLessan-Light.woff
src/fonts/lisan/EthiopicLessan-Light.woff2
src/fonts/lisan/EthiopicLessan-Regular.woff
src/fonts/lisan/EthiopicLessan-Regular.woff2

functions/.eslintrc.js
functions/.gitignore
functions/package.json
functions/tsconfig.dev.json
functions/tsconfig.json
functions/src/index.ts

.firebase/hosting.YnVpbGQ.cache
.firebaserc
firebase.json
/firebase
