::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(rgb(207, 207, 207), rgb(255, 255, 255));
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(rgb(179, 179, 179), rgb(238, 238, 238));
}
