blockquote {
	display: block;
	border-left-style: solid;
	border-left-color: #1279be;
	min-height: 40px;
	margin: 15px 18px;
	padding: 5px;
}

.pb-2 {
	padding-bottom: 0.5rem;
}
.m-2 {
	margin: 0.5rem;
}
.block {
	display: block;
}
