* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.z-depth-2 {
	-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

body {
	margin: 0;
}

.view {
	position: relative;
	overflow: hidden;
	cursor: default;
}

.rounded {
	border-radius: 0.25rem !important;
}
